@model RealState_WEB.Model.PROPIEDADES

@{
    ViewBag.Title = "ActualizarPropiedades";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="">
    <div style="margin-top: 2%">
        <h2 class="card-title">Actualizar Propiedad</h2>
        <div class="col-md-10 grid-margin stretch-card" style="margin-left: 8%">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Información</h5>
                    <form asp-action="ActualizarPropiedad" method="post" class="forms-sample">
                        <div asp-validation-summary="ModelOnly"></div>
                        @Html.HiddenFor(Model => Model.id)
                        @Html.HiddenFor(Model => Model.id_detalle_fk)
                        @Html.HiddenFor(Model => Model.id_direccion_fk)
                        @Html.HiddenFor(Model => Model.id_tipo_fk)
                        @Html.HiddenFor(Model => Model.id_tipo_fk)
                        @Html.HiddenFor(Model => Model.id_usuario_fk)
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label asp-for="nombre"></label>
                                <input asp-for="nombre" type="text" class="form-control" required/>
                                <span asp-validation-for="nombre"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="descripcion"></label>
                                <input asp-for="descripcion" type="text" class="form-control" required />
                                <span asp-validation-for="descripcion"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label asp-for="precio"></label>
                                <input asp-for="precio" type="text" class="form-control" required />
                                <span asp-validation-for="precio"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="propiedadTipo.nombre"></label>
                                <select asp-for="propiedadTipo.id" asp-items="Model.propiedadTipo.TiposListSelectList" class="form-control" required>
                                    <option value="">Seleccione un tipo de propiedad</option>
                                </select>
                                <span asp-validation-for="propiedadTipo.nombre"></span>
                            </div>
                        </div>
                        <br />
                        <h5 class="card-title">Detalles</h5>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label asp-for="detalle.cantidad_cuartos"></label>
                                <input asp-for="detalle.cantidad_cuartos" type="text" class="form-control" required />
                                <span asp-validation-for="detalle.cantidad_cuartos"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="detalle.cantidad_bannos"></label>
                                <input asp-for="detalle.cantidad_bannos" type="text" class="form-control" required />
                                <span asp-validation-for="detalle.cantidad_bannos"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label asp-for="detalle.cantidad_metros2"></label>
                                <input asp-for="detalle.cantidad_metros2" type="text" class="form-control" required />
                                <span asp-validation-for="detalle.cantidad_metros2"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="detalle.cantidad_parqueo"></label>
                                <input asp-for="detalle.cantidad_parqueo" type="text" class="form-control" required />
                                <span asp-validation-for="detalle.cantidad_parqueo"></span>
                            </div>
                        </div>
                        <br />
                        <h5 class="card-title">Dirección</h5>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label asp-for="direccion.direccion_exacta"></label>
                                <input asp-for="direccion.direccion_exacta" type="text" class="form-control" required />
                                <span asp-validation-for="direccion.direccion_exacta"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="direccion.pais.nombre"></label>
                                <select asp-for="direccion.pais.id" asp-items="Model.direccion.pais.PaisesListSelectList" class="form-control" required>
                                    <option value="">Seleccione el país</option>
                                </select>
                                <span asp-validation-for="direccion.pais.nombre"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label asp-for="direccion.provincia.nombre"></label>
                                <select asp-for="direccion.provincia.id" asp-items="Model.direccion.provincia.ProvinciaListSelectList" class="form-control" required>
                                    <option value="">Seleccione la provincia</option>
                                </select>
                                <span asp-validation-for="direccion.provincia.nombre"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="direccion.canton"></label>
                                <input asp-for="direccion.canton" type="text" class="form-control" required />
                                <span asp-validation-for="direccion.canton"></span>
                            </div>

                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label asp-for="direccion.distrito"></label>
                                <input asp-for="direccion.distrito" type="text" class="form-control" required />
                                <span asp-validation-for="direccion.distrito"></span>
                            </div>                        
                            <div class="form-group col-md-6">
                                <label asp-for="estado"></label>
                                <div class="form-check">
                                    <input asp-for="estado" type="checkbox" class="form-check-input" />
                                    <label class="form-check-label" asp-for="estado">Activo</label>
                                </div>
                                <span asp-validation-for="estado"></span>
                            </div>
                        </div> 

                        <br>
                        <h5 class="card-title">Imágenes</h5>
                        <div id="previewContainer" class="row">
                            @{
                                int contador = 0;
                            }
                            @foreach (var imagen in Model.imagenes)
                            {
                                <div class="image-container col-4" id="">
                                    <img class="preview-img" src="@imagen.imagen" alt="@imagen.imagen" id="@imagen.imagen+'-id'" />
                                    <button class="btn btn-danger delete-button" onclick="quitarImagenEdit('@imagen.imagen')">Quitar</button>
                                    <input type="hidden" name="imagenes[@contador].imagen" value="@imagen.imagen" />
                                </div>
                                contador++;
                            }
                        </div>
                        <br />
                        <br />
                        <br />
                        <br />
                        <input type="submit" class="btn btn-primary mr-2" value="Actualizar">

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



