@model RealState_WEB.Model.PROPIEDADES

@{
    ViewBag.Title = "ActualizarPropiedades";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="">
    <div style="margin-top: 2%">
        <h2 class="card-title">Actualizar Propiedad</h2>
        <div class="col-md-10 grid-margin stretch-card" style="margin-left: 8%">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Información</h5>
                    <form id="formActualizarPropiedad" asp-controller="Propiedades" asp-action="ActualizarPropiedad" method="post" class="forms-sample" enctype="multipart/form-data">
                        @Html.HiddenFor(Model => Model.id)
                        @Html.HiddenFor(Model => Model.id_tipo_fk)
                        @Html.HiddenFor(Model => Model.id_usuario_fk)
                        @Html.HiddenFor(Model => Model.id_detalle_fk)
                        @Html.HiddenFor(Model => Model.detalle.id)
                        @Html.HiddenFor(Model => Model.id_tipo_fk)
                        @Html.HiddenFor(Model => Model.id_direccion_fk)
                        @Html.HiddenFor(Model => Model.direccion.id)
                        @Html.HiddenFor(Model => Model.direccion.id_pais_fk)
                        @Html.HiddenFor(Model => Model.direccion.pais.nombre)
                        @Html.HiddenFor(Model => Model.direccion.id_provincia_fk)
                        @Html.HiddenFor(Model => Model.direccion.provincia.nombre)
                        @Html.HiddenFor(Model => Model.usuario)
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label asp-for="nombre"></label>
                                <input asp-for="nombre" type="text" class="form-control" required />
                                <span asp-validation-for="nombre" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="descripcion"></label>
                                <input asp-for="descripcion" type="text" class="form-control" required />
                                <span asp-validation-for="descripcion" class="text-danger"></span>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label asp-for="precio"></label>
                                <input asp-for="precio" type="number" class="form-control" required />
                                <span asp-validation-for="precio" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="propiedadTipo.nombre"></label>
                                <select asp-for="propiedadTipo.id" asp-items="Model.propiedadTipo.TiposListSelectList" class="form-control" required>
                                    <option value="">Seleccione un tipo de propiedad</option>
                                </select>
                                <span asp-validation-for="propiedadTipo.id" class="text-danger"></span>
                            </div>
                        </div>
                        @Html.HiddenFor(Model => Model.propiedadTipo.nombre)
                        @Html.HiddenFor(Model => Model.propiedadTipo.descripcion)
                        <br />
                        <h5 class="card-title">Detalles</h5>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label asp-for="detalle.cantidad_cuartos"></label>
                                <input asp-for="detalle.cantidad_cuartos" type="text" class="form-control" required />
                                <span asp-validation-for="detalle.cantidad_cuartos" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="detalle.cantidad_bannos"></label>
                                <input asp-for="detalle.cantidad_bannos" type="text" class="form-control" required />
                                <span asp-validation-for="detalle.cantidad_bannos" class="text-danger"></span>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label asp-for="detalle.cantidad_metros2"></label>
                                <input asp-for="detalle.cantidad_metros2" type="text" class="form-control" required />
                                <span asp-validation-for="detalle.cantidad_metros2" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="detalle.cantidad_parqueo"></label>
                                <input asp-for="detalle.cantidad_parqueo" type="text" class="form-control" required />
                                <span asp-validation-for="detalle.cantidad_parqueo" class="text-danger"></span>
                            </div>
                        </div>
                        <br />
                        <h5 class="card-title">Dirección</h5>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label asp-for="direccion.direccion_exacta"></label>
                                <input asp-for="direccion.direccion_exacta" type="text" class="form-control" required />
                                <span asp-validation-for="direccion.direccion_exacta" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="direccion.pais.nombre"></label>
                                <select asp-for="direccion.pais.id" asp-items="Model.direccion.pais.PaisesListSelectList" class="form-control" required>
                                    <option value="">Seleccione el país</option>
                                </select>
                                <span asp-validation-for="direccion.pais.id" class="text-danger"></span>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label asp-for="direccion.provincia.nombre"></label>
                                <select asp-for="direccion.provincia.id" asp-items="Model.direccion.provincia.ProvinciaListSelectList" class="form-control" required>
                                    <option value="">Seleccione la provincia</option>
                                </select>
                                <span asp-validation-for="direccion.provincia.id" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="direccion.canton"></label>
                                <input asp-for="direccion.canton" type="text" class="form-control" required />
                                <span asp-validation-for="direccion.canton" class="text-danger"></span>
                            </div>

                        </div>
                        <br />
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label asp-for="direccion.distrito"></label>
                                <input asp-for="direccion.distrito" type="text" class="form-control" required />
                                <span asp-validation-for="direccion.distrito" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="estado"></label>
                                <div class="form-check">
                                    <input asp-for="estado" type="checkbox" class="form-check-input" />
                                    <label class="form-check-label" asp-for="estado">Activo</label>
                                </div>
                                <span asp-validation-for="estado" class="text-danger"></span>
                            </div>
                        </div>

                        <br>
                        <h5 class="card-title">Imágenes</h5>
                        <div id="previewContainerEdit" class="row">
                            @{
                                int contador = 0;
                            }
                            @foreach (var imagen in Model.imagenes)
                            {
                                <div class="image-container col-4" id="@imagen.imagen">
                                    <img class="preview-img" src="@imagen.imagen" alt="@imagen.imagen" id="@imagen.imagen" />
                                    <button class="btn btn-danger delete-button" type="button" onclick="quitarImagenEdit('@imagen.imagen', event)">Quitar</button>
                                    <input type="hidden" name="imagenes[@contador].imagen" value="@imagen.imagen" />
                                </div>
                                contador++;
                            }
                        </div>
                        <input type="hidden" value="@Model.imagenes.Count()" id="ContadorImagenes" />
                        <div>
                            @if (Model.imagenes.Count < 6)
                            {
                                <div id="previewContainer" class="row"></div>
                                <div class="row" id="SelectorImagenes">
                                    <div class="form-group col-4"></div>
                                    <div class="form-group col-md-4">
                                        <label asp-for="imagenes[0].imagen" class="form-label">Seleccione las imágenes de la propiedad</label>
                                        <label style="display:none; color:red" id="MaximoImg">* Máximo 6 imágenes</label>
                                        <input name="imagenesIForm" class="form-control" multiple accept=".jpg,.jpeg,.png" type="file" id="inputImg" onchange="imagenesView();"/>
                                        <span asp-validation-for="imagenesIForm" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-3"></div>
                                </div>
                            }
                        </div>
                        <div id="imagenesToDelContainer">
                            @{
                                if (Model.imagenesToDel != null)
                                {
                                    int contadorToDel = 0;
                                    foreach (var imagenToDel in Model.imagenesToDel)
                                    {
                                        <input type="hidden" name="imagenesToDel[@contadorToDel].imagen" value="" id="del@(imagenToDel.imagen)" />
                                        contadorToDel++;
                                    }
                                }
                            }
                        </div>
                        <br />
                        <br />
                        <br />
                        <br />
                        <button type="button" class="btn btn-primary mr-2" onclick="confirmarActualizar()">Actualizar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function confirmarActualizar() {
        Swal.fire({
            title: '¿Estás seguro?',
            text: 'Esta acción actualizará los datos de la propiedad.',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí, actualizar',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                var form = document.getElementById('formActualizarPropiedad');
                form.submit();
            }
        });
    }
</script>


