@model RealState_WEB.Model.PROPIEDADES_CITAS

@{
    ViewBag.Title = "MostrarPropiedad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h1 class="title-single">@Model.propiedad.nombre</h1>
                    <span class="color-text-a">@Model.propiedad.direccion.pais.nombre, @Model.propiedad.direccion.provincia.nombre</span>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a asp-controller="Propiedades" asp-action="Propiedades">Propiedades</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            @Model.propiedad.nombre
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<br />
<div class="container">

    <div id="property-carousel" class="swiper">
        <div class="swiper-wrapper">
            @foreach (var imagen in Model.propiedad.imagenes)
            {
                <div class="carousel-item-b swiper-slide">
                    <div class="card-box-a">
                        <div class="img-box-a">
                            <img src="@imagen.imagen" alt="" class="img-a img-fluid" style="height: 300px; object-fit: scale-down;">
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="propery-carousel-pagination carousel-pagination"></div>
<br />
<section class="property-single nav-arrow-b">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="row justify-content-between">
                    <div class="col-md-5 col-lg-4">
                        <div class="property-price d-flex justify-content-center foo">
                            <div class="card-header-c d-flex">
                                <div class="card-title-c align-self-center">
                                    <h5 class="title-c">Precio</h5>
                                    <h5 class="title-c">₡@Model.propiedad.precio.ToString("#,##0.00")</h5>
                                </div>
                            </div>
                        </div>
                        <div class="property-summary">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="title-box-d section-t4">
                                        <h3 class="title-d">Detalles</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="summary-list">
                                <ul class="list">
                                    <li class="d-flex justify-content-between">
                                        <strong>Propiedad ID:</strong>
                                        <span>@Model.propiedad.id</span>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <strong>Ubicación:</strong>
                                        <span>@Model.propiedad.direccion.pais.nombre, @Model.propiedad.direccion.provincia.nombre</span>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <strong>Tipo Propiedad:</strong>
                                        <span>@Model.propiedad.propiedadTipo.nombre</span>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <strong>Status:</strong>
                                        <span>@Model.propiedad.estado</span>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <strong>Área:</strong>
                                        <span>
                                            @Model.propiedad.detalle.cantidad_metros2 m
                                            <sup>2</sup>
                                        </span>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <strong>Cuartos:</strong>
                                        <span>@Model.propiedad.detalle.cantidad_cuartos</span>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <strong>Baños:</strong>
                                        <span>@Model.propiedad.detalle.cantidad_bannos</span>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <strong>Garage:</strong>
                                        <span>@Model.propiedad.detalle.cantidad_parqueo</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 col-lg-7 section-md-t3">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="title-box-d">
                                    <h3 class="title-d">Descripción</h3>
                                </div>
                            </div>
                        </div>
                        <div class="property-description">
                            <p class="description color-text-a">
                                @Model.propiedad.descripcion
                            </p>
                        </div>
                        <div class="row section-t3">
                            <div class="col-sm-12">
                                <div class="title-box-d">
                                    <h3 class="title-d">Agendar una cita</h3>
                                </div>
                            </div>
                        </div>
                        <div class="amenities-list color-text-a">
                            @if (Model.id_usuario == 0)
                            {
                                <form asp-controller="Citas" asp-action="AgendarCita">
                                    <div class="amenities-list color-text-a" style="text-align:center">
                                        <label for="fecha">Fecha:</label>
                                        <div class="form-group col-md-6 offset-md-3">
                                            <input asp-for="fecha_hora" type="date" class="form-control" min="@DateTime.Now.AddDays(3).ToString("yyyy-MM-dd")">
                                            <span asp-validation-for="fecha_hora" class="text-danger"></span>
                                        </div>
                                        <br />
                                        <label for="hora">Hora:</label>
                                        <div class="form-group col-md-6 offset-md-3">
                                            <select asp-for="hora" class="form-control form-control-md">
                                                <option value="">Selecciona una hora</option>
                                                <option value="08:00">08:00 am</option>
                                                <option value="10:00">10:00 am</option>
                                                <option value="12:00">12:00 md</option>
                                                <option value="14:00">14:00 pm</option>
                                            </select>
                                            <span asp-validation-for="hora" class="text-danger"></span>
                                        </div>
                                        <input asp-for="id_propiedad" type="hidden" value="@Model.propiedad.id" />
                                        <br />
                                        <button type="submit" class="btn btn-primary">Agendar Cita</button>
                                    </div>
                                </form>
                            }
                            else
                            {
                                <div class="amenities-list color-text-a" style="text-align:center">
                                    <h5>Ya tienes una cita Agendada:</h5>
                                    <p>Fecha: @Model.fecha_hora.ToString("dd/MM/yyyy")</p>
                                    <p>Hora: @Model.fecha_hora.ToString("hh:mm tt")</p>

                                    <a asp-controller="Citas" asp-action="CancelarCita" asp-route-id="@Model.id"
                                       data-vista-origen="MisCitas" class="btn btn-danger"
                                       onclick="return confirmarCancelarCita(@Model.id, @Model.id_propiedad, 'MostrarPropiedad')">
                                        Cancelar Cita
                                    </a>
                                </div>
                                <br />
                                <a asp-controller="Citas" asp-action="MisCitas">
                                    <input type="button" class="btn btn-secondary" id="btnCitas" value="Ver mis citas">
                                </a>
                                @if (TempData["SweetAlertMessage"] != null)
                                {
                                    <script>
                                        Swal.fire({
                                            title: "@TempData["SweetAlertMessage"]",
                                            icon: "@TempData["SweetAlertType"]",
                                            confirmButtonColor: '#3085d6',
                                            confirmButtonText: 'Aceptar'
                                        });
                                    </script>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        $("#openCitaModal").click(function () {
            $("#modalContent").load("@Url.Action("AgendarCita", "Citas")");
        });
    });

    function confirmarCancelarCita(id, idPropiedad, vistaOrigen) {
        Swal.fire({
            title: '¿Estás seguro?',
            text: 'Esta acción cancelará la cita.',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí, cancelar cita',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                // Agrega el valor de vistaOrigen y idPropiedad a la URL de redirección
                window.location.href = '@Url.Action("CancelarCita", "Citas")' + '/' + id
                    + '?idPropiedad=' + idPropiedad
                    + '&vistaOrigen=' + vistaOrigen;
            }
        });

        return false;
    }
</script>

